:root{
    --main-blue: #6874E8;
    --main-bg: #F4F4E7;
    --main-text-color: rgb(0, 0, 0);
    --sec-text-color: white;
    --main-stroke: #C4C4C4;
    --maibn-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.250);
}
/* Global styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height: 100vh;
    max-height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
/*  Main components and utilities */
.heading{
    text-align: center;
}
.heading h1{
    font-size: 48px;
    font-weight: 700;
}
.heading p{
    font-size: 16px;
    font-weight: 400;
}
section{
    width: calc(100% - 20px);
    height: calc(100% - 27px);
    background-color: #6874E8;
}
/* Wrapper */
wrapper{
    display: grid;
    grid-template-rows: 65px 1fr;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    position: relative;
    height: 100%;
    background-color: #F4F4E7;
}
/* Header section */
header{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: var(--maibn-shadow);
    background-color: white;
}
header img{
    width: 100%;
}
header .input{
    width: 50%;
    position: relative;
}
header input{
    width: 100%;
    height: 41px;
    padding-left: 48px;
    border: 1px solid var(--main-stroke);
    border-radius: 50px;
}
header input::placeholder{
    font-size: 15px;
    font-weight: 500;
    color: #8A8A8A;
}
header .input i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #8A8A8A;
}
header .user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background-color: #F2F2F2;
    border: 1px solid var(--main-stroke);
}
header .user img{
    width: 23px;
}
@media (max-width: 768px){
    wrapper{
        grid-template-rows: 55px 1fr;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-gap: 8px;
    }
    header .input{
        width: 100%;
    }
    header input{
        height: 30px;
        padding-left: 32px;
    }
    header .image{
        min-width: 90px;
        max-width: 100px;
        margin-right: 20px;
    }
    header input::placeholder{
        font-size: 12px;
    }
    header .input i{
        left: 12px;
        font-size: 12px;
    }
    header .user{
        width: 32px;
        height: 32px;
    }
    header .user img{
        width: 15px;
    }
}
/* Nav section */
nav{
    grid-row: 2;
    width: 81px;
    height: calc(100% - 27px);
    padding: 30px 0 25px 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--maibn-shadow);
    margin-left: 20px;
}
nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
nav div ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
nav div li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 100%;
    font-size: 25px;
    width: 52px;
    height: 52px;
    color: black;
    transition-property: font-size ,box-shadow;
    transition-duration: 0.1s,0.2s;
    cursor: pointer;
}
nav div li:hover{
    font-size: 30px;
    background-color: #c4c4c4;
    box-shadow: 0px 1px 2px .5px rgba(22, 22, 22, 0.678);
}
nav div ul:nth-child(2) li:last-child{
    color: #D7263D;
    margin-bottom: 0;
}
@media(max-width: 768px){
    wrapper{
        grid-template-columns: 1fr;
    }
    /* Nav section */
    nav{
        position: absolute;
        bottom: 25px;
        left: 50%;
        width: 80%;
        height: 60px;
        transform: translateX(-50%);
        padding: 0 20px;
        margin: 0;
    }
    nav div{
        flex-direction: row;
    }
    nav div ul{
        flex-direction: row;
        gap: 15px;
    }
    nav div li{
        margin-bottom: 20px;
        font-size: 3.4vw;
        max-width: 5.8vw;
        max-height: 5.8vw;
        margin: 0;
    }
    nav div li:hover{
        font-size: 4vw;
        background-color: #c4c4c4;
        box-shadow: 0px 1px 2px .5px rgba(22, 22, 22, 0.678);
    }
}
@media(max-width: 550px){
    nav div{
        gap: 10px;
    }
    nav div ul{
        gap: 8px;
    }
    nav div li{
        margin-bottom: 20px;
        font-size: 3.8vw;
        max-width: 7.5vw;
        max-height: 7.5vw;
        margin: 0;
    }
    nav div li:hover{
        font-size: 4.5vw;
    }
}

/* Scheduals section */
